{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Adoption</title>
        <link href="{% static 'css\adopt.css' %}" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


    </head>
    <body>
        <!-- this div consists of adoption details-->
        <div class="adoption">
            <h1>ADOPTION</h1>
            <h2>DON'T SHOP..  ADOPT..</h2>
            <h3>We have an overwhelming amount of people asking us about adoption. As a result we have made this page. Please note:</h3>
            <p> We are by no means experts in the matter but in our experience and understanding in-country and inter-country adoption in India has been very difficult in the past but new laws are being implemented to streamline this process. Estimates for the number of orphans in India varies from 16 million to 30 million, but only about 2,500 orphans were adopted last year, down from 5,700 four years ago. The Ministry of Women & Child Development’s autonomous body Central Adoption Resource Authority (CARA) now handles all adoption inquiries, applications and adoptions within India. Prospective parents are should register with the authority, whose automated system will match them with children<br><br><br>For those people wishing to adopt we suggest the following:<br><br></p>
                <p>1.Only adopt from registered Specialized Adoption Agencies (SAA’s) recognized by State Governments.<br><br>2.Read the guidelines on CARA’s website carefully.<br></p>
                <p>3.Do not try to adopt directly from nursing homes, hospitals, maternity homes, unauthorized institutions or individuals.</p>
                <p>While we believe that adoption can be a beautiful thing it is not something that our organization is or at this stage plans to be involved with in the future. We wish anyone wanting to adopt the very best and we hope that you find what you are looking for.<br></p>
    <p>Note: The current Indian system allows adoption to single/unmarried people but does not allow adoption by gay/lesbian prospective parents</p>
</div>

    </body>
</html>