{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE HTML>
<html>
	
	<head>

	<title>EVENT PAGE</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'css\EventStyle.css' %}">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	</head>
<body>
	<div class="banner">
		<div class="navbar">
	<img src="{% static 'images\pexels-vishnu-r-nair-1105666.jpg' %}" class="logo" height="100px">
		<ul>
	    		<li> <a href="#">ABOUT US</a></li>
	   		<li> <a href="gal">EVENTS</a></li>
	  	 	<li> <a href="calen">CALENDER</a></li>
	 	   	<li> <a href="donatingthings/contact">CONTACT</a></li>	
		<ul>
		</div>
	<div class="content1">
	<h1>Celebrate your Event in Orphange Home.<br>To spread Happiness</h1>
	<i><p>Many of us celebrate our or our children's birthdays in an orphanage 
	with good intentions.<br> Some of us do it to make our children develop empathy.
	While our intentions are noble, <br>it can be less than pleasant for these kids.
	By celebrating our birthdays at an orphanage,<br> we make orphans feel even more 
	like orphans.Press the bell icon to get latest updates.</p></i>
	<div>
		<div class="more">
			You can see Latest Event Images through our website 
			<div class="new">
				<ul>
					<li><a href="gal">Click here to view images</a></li>
				</ul>
			</div>
			</div>
			<div class=button>
		<a href="regform">Register</a>
	</div>
		</div>	
	</div>

	</div>
	
	<footer>
		<div class="main-content">
			<div class="left-box">
				<h2>ABOUT US</h2>
				<div class="conte">
			  <p>Smile Foundations ,On our platform, you can donate to a nonprofit with confidence. Our robust due diligence process covers legal, compliance, financial and impact checks for each donation made to any non-profit, including in-person visits to beneficiaries and actual feedback reports. We do all this so that our donors can trust that their giving is indeed doing what it's supposed to do - change lives.</p>
			 <div class="social">
				 <a href= "#"><span class="fab fa-facebook-f"></span></a>
				 <a href= "#"><span class="fab fa-twitter"></span></a>
				 <a href= "#"><span class="fab fa-instagram"></span></a>
				 <a href= "#"><span class="fab fa-youtube"></span></a>
			 </div> 
			</div>
			</div>
			<div class="Address-box">
				<h2>Address</h2>
				<div class="cont">
					<div class="place">
						<span class="fas fa-map-marker-alt"></span>
						<span class="text">Tirupati</span>
					</div>
					<div class="phone">
						<span class="fas fa-phone-alt"></span>
						<span class="text">+91 6309716107</span>
					</div>
					<div class="email">
						<span class="fas fa-envelope"></span>
						<span class="text">smilefounations@gmail.com</span>
					</div>
				</div>
			</div>
		</div><br><br>
		</footer>
	
	
	
</body>
</html>