{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html>
    <title>

    </title>
    <head>
      <link href="{% static 'css\operations.css' %}" rel="stylesheet">
    </head>
    <body>
       <h1 class="hp">How we work</h1>
       <div class="container">
        <div class="row">
         <div class="c1">
          <img src="{% static 'images\phone.jpg' %}">
          <h2 class="hp">Let us know</h2>
          </div>
         <div class="c2">
      <img src="{% static 'images\fooddeliver.png' %}">
      <h2 class="hp">Food Delivery vechicals</h2>
        </div>
        <div class="c3">
      <img src="{% static 'images\vessel.jpg' %}" width="150px" heigth="150px">
      <h2 class="hp">Food Recovery vessel</h2>
        </div>
        </div>
               
        <div class="row">
          <div class="col1">
           <img src="{% static 'images\foodservice.png' %}">
           <br>
           <br>  <br>
           <h2 class="hp">Food is checked and we feed the need</h2>
          </div>
          <div class="col2">
            <img src="{% static 'images\thankyou.jpg' %}">
            <h2 class="hp">thank you for being the reason of smile</h2>
        </div>

        </div>

    

       
        </div>
           

        <div class="row">
            <div class="columnlt">
                <h1>Notify Us</h1>
            <p>
                if you have excess food with you please see the food items which can be donated and guidelines to donate the excess food if you have or call our helpline number 
            please notify us  </p>
            </div>
           <div class="columnri">
          <img src="{% static 'images\fillform.png' %}">
           </div>
        </div>
<div class="row">
           <div class="columnli">
              <img src="{% static 'images\location.png' %}">
           </div>

           <div class="columnrt">
             <h1>Location</h1>
             <p>If the location of food is near to the near by orphanage who are in our organasation The orphanage team will collect that excass from you </p>
           </div>
          </div>
          <div class="row">
           <div class="columnlt">
            <h1>food quality check and Delivery</h1>
        <p>
            If the food is in our location then a team from the near by orphanage will come and the they will check the quality of food .If the food is good then it will be kept in food recovery vessels and it will be delivered to that orphanage </p>
        </div>
       <div class="columnri">
      <img src="{% static 'images\fooddeliver.png' %}">
       </div>
      </div>

      <div class="row">
        <div class="columnli">
           <img src="{% static 'images\foodservice.png' %}">
        </div>

        <div class="columnrt">
          <h1>food redistribution</h1>
          <p>That food is safely redistributed to the needy in the orphans in the orphanages.By this we can make them happy. Instead of food wastage we can use to feed the need</p>
        </div>
       </div>
        
    </body>
</html>