<html>
<head>
<title>volunteer registration form</title>

 <link rel="stylesheet" href="volunteer.css">
</head>
 <body>
     <div class="login-page">
    <div class="form">

        <form class ="register-form">
            <h1> volunteer registraion </h1>  
        <input type="text" placeholder=" user name"/>
        <input type="text" placeholder="password"/>
        <input type="text" placeholder="email id"/>
        
   
    <button> create </button>
    <p class="message">Already Registered? <a href="#"> login </a></p>
</form>

<form class="login-form">

    <img class="logo" src="login1.png" alt="login">
    <input type="text" placeholder="user name"/>
    <input type="password" placeholder="password"/>
    <button> login </button>
<!--<p class="message">not Registered? <a href="#">register</a> </p>-->

</form>      </div>
      </div>
     
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
  <script>
    $(' .message a').click(function(){
        $('form').animate({heigh:"toggle",opacity:"toggle"},"slow")
     });  
  </script>  
 </body>
 
</html>
