{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html>
<head>
    <title>volunteering for orphange...</title>
    <link rel="stylesheet" href="{% static 'css\p2.css' %}">
    
</head>
<body>
    <h1>LOOKING TO VOLUNTEERING?</h1>
    <div class="go">
    <p>SEE HOW YOU CAN MAKE A DIFFERENCE</p>
  </div>
  <br>
  <div class="row">
    <div class="column">  
      <a href="p2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkJuwNotVY-fDv15TPPpQyFJkc0DmE4DehyQ&usqp=CAU" style="float: top right;" alt="volunteering" width="450px" height="270px"><br><h3>SECOND STEP</h3><p><strong>login & sign up</strong> via our online form</p></a></div>
     
    <div class="column">
 <a href="ragava"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB7dLL4Eb99VDBJfXxFJYHZuRoHWIZwvqNFQ&usqp=CAU" alt="volunteering" width="450px"><br><h3> FIRST STEP</h3><p> Check out our page <strong>Life AS A volunteer</strong></p></a>
</div>


 <!--<div class="display";margin-left:0px;></div>-->
 
</div>
<div class="button">
<a href="vl">Apply to Volunteer</a>
</div>
<p class="text">Thank you for your interest in volunteering with our organization. We require that all our potential volunteers first read our Frequently Asked Questions and Child Protection Policy which can also be found in the menu above. Only after that should you apply to volunteer with us. Each individual should fill in an application (accompanying children under 15 are exempt but should be mentioned under the “Are You Traveling With Anyone Else?” section along with their age and relationship to the applicant).</p>
<footer>

  <div class="main-content">

      <div class="left-box">

          <h2>ABOUT US</h2>

          <div class="content">

        <p>Smile Foundations ,On our platform, you can donate to a nonprofit with confidence. Our robust due diligence process covers legal, compliance, financial and impact checks for each donation made to any non-profit, including in-person visits to beneficiaries and actual feedback reports. We do all this so that our donors can trust that their giving is indeed doing what it's supposed to do - change lives.</p>

       <div class="social">

           <a href= "#"><span class="fab fa-facebook-f"></span></a>

           <a href= "#"><span class="fab fa-twitter"></span></a>

           <a href= "#"><span class="fab fa-instagram"></span></a>

           <a href= "#"><span class="fab fa-youtube"></span></a>

       </div> 

      </div>

      </div>

      <div class="right-box">

          <h2>Address</h2>

          <div class="content">

              <div class="place">

                  <span class="fas fa-map-marker-alt"></span>

                  <span class="text">Tirupati</span>

              </div>

              <div class="phone">

                  <span class="fas fa-phone-alt"></span>

                  <span class="text">+91 6309716107</span>

              </div>

              <div class="email">

                  <span class="fas fa-envelope"></span>

                  <span class="text">smilefounations@gmail.com</span>

              </div>

          </div>

      </div>

  </div><br><br>

  </footer>
      
</body> 
 </html>