{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>food donate page</title>
        <link href="{% static 'css\surplusfoodpage.css' %}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" >
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <div class="header">
            <br><br><br>
            <h1>Feed the needy.Not lands</h1>
            <h3>have excess food:
            </h3>
            <div class="button">
            <a href="registerform">donate here</a>
        </div>
        </div>
        <div class="howwework">
            <h1 class="hp">How We Work</h1>
            <p class="hp">We aim to redistribute surplus food to those who are in need of it. If you have excess food from an event, party, wedding etc, please call our helpline, our volunteers will collect the excess food from you and distribute it among people who need it.  The excess food will be checked for quality because lack of proper refrigeration and storage tend to spoil food.</p>
            </div>
            <div class="row">
                <div class="column1">
                        <h4>let us know </h4>
                        <p>fill the form or contact us</p>
                </div>
                <div class="column2">
                    <h4>quality check </h4>
                    <p>a team from orphanage chech quality </p>
                </div>
                <div class="column3">
                    <h4>collection </h4>
                    <p>near by orphanage will collect that food</p>
                </div>
                <div class="column4">
                    <h4>redistribution </h4>
                    <p>it is redustributed to the needy</p>
                </div>
               
            </div>

        </div>
        <br>   <br>
        <div class="button">
        <a href="operations">know more about operations</a>
    </div>
        <br>
        <br>
        <div class=statics>
            <h1 class=hp>Food Wastage in India</h1>
               <div class=row2>
                   <div class=c1>
                       <p>food wastage</p>
                   </div>
                  
                   <div class=c2>
                       <ul>
                           <li>Did you know that about 40 % of the food produced in India is wasted?
                        </li>
                           <li>Despite adequate food production, the UN has reported that about 190 million Indians remain undernourished. It is further estimated that the
                            value of food wastage in India is around ₹92,000 crores per annum.
                            </li>
                           <li>Approximately 84.7% of the total food waste recorded was thrown in the bin, while the rest was either fed to the poor or some animals.</li>
                       </ul>
                   </div>
               </div>
        </div>
        <div class=row3>
            <h1 class=hp>Hunger in India</h1>
            <div class=c3>
               <ul>
                   <li>Do you know fifteen percent of the Indian population every night sleeps hungry?</li>
                   <li>194 million Indians are undernourished. Recently out of 117 countries, India ranked at 104 at the Global Hunger Index.</li>
                   <li>India reported the most number of deaths of children below five years in 2018, with 8,82,000 deaths, </li>
               </ul>
            </div>
           
            <div class=c4>
                <p>Hunger</p>
            </div>
        </div>
<div class="button">
        <a href="moreinfo">Dont waste the food donate instead</a>
    </div>
<div class="partners">
    <h1 class="hp">Our partners</h1>
    <div class=i>
        <img src="{% static 'images\chennaiorp.png' %}" height="159px" width="100%">
    </div>
    <div class=i>
       <img src="{% static 'images\hydorp.png' %}" height="159px" width="100%">
    </div>
    <div class=i>
        <img src="{% static 'images\tptorp.png' %}" height="159px" width="100%">
    </div>
    <div class=i>
        <img src="{% static 'images\gunorp.png' %}" height="159px" width="100%">
    </div>
    <div class=i>
        <img src="{% static 'images\vijorp.png' %}" height="159px" width="100%">
    </div>

</div>
<br>
<br>
<footer>

    <div class="main-content">

        <div class="left-box">

            <h2>ABOUT US</h2>

            <div class="content">

          <p>Smile Foundations ,On our platform, you can donate to a nonprofit with confidence. Our robust due diligence process covers legal, compliance, financial and impact checks for each donation made to any non-profit, including in-person visits to beneficiaries and actual feedback reports. We do all this so that our donors can trust that their giving is indeed doing what it's supposed to do - change lives.</p>

         <div class="social">

             <a href= "#"><span class="fab fa-facebook-f"></span></a>

             <a href= "#"><span class="fab fa-twitter"></span></a>

             <a href= "#"><span class="fab fa-instagram"></span></a>

             <a href= "#"><span class="fab fa-youtube"></span></a>

         </div> 

        </div>

        </div>

        <div class="right-box">

            <h2>Address</h2>

            <div class="content">

                <div class="place">

                    <span class="fas fa-map-marker-alt"></span>

                    <span class="text">Tirupati</span>

                </div>

                <div class="phone">

                    <span class="fas fa-phone-alt"></span>

                    <span class="text">+91 6309716107</span>

                </div>

                <div class="email">

                    <span class="fas fa-envelope"></span>

                    <span class="text">smilefounations@gmail.com</span>

                </div>

            </div>

        </div>

    </div><br><br>

    </footer>

 

 
</body>
</html>